
body {
    background-color: #aaaaaa;
}

.swiper-container {
    width: 600px;
    height: 300px;
}

.modal-backdrop.in {
    opacity: 1.0;
    background-color: #eeeeee;
}

.score {
    color: #888888;
    font-size: 0.6em;
}
