
.fdf-farver {
    // FDF-Blå
    color: #5e8ab4, rgb(94, 138, 180)
    // Skjold rød
    color: #c8102e, rgb(200, 16, 46)
    // Mørk blå
    color: #326295, rgb(50, 98, 149)

    /* webdesign: */
    color: #456889, rgb(69, 104, 137)
    color: #233b52, rgb(35, 59, 82)
    color: #e4e9eb, rgb(228, 233, 235)
    color: #1d1d1b, rgb(29, 29, 27)
    color: #b3bfc4, rgb(179, 191, 196)
    color: #ecece8, rgb(236, 236, 232)
    color: #e15310, rgb(225, 83, 16)
    color: #79868b, rgb(121, 134, 139)
    color: #f9af1a, rgb(249, 175, 26)
}





@font-face {
    font-family: fdficons;
    src: url(../fonts/fdficons.woff);
}
@font-face {
	font-family: Lilita;
	src: url(../fonts/LilitaOne-Regular.ttf);
}
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: RobotoItalic;
	src: url(../fonts/Roboto-LightItalic.ttf);
}

body {
    /* margin-top: 50px; */
    /* background-color: rgb(61, 94, 120); */
    font-family: 'Lilita', sans-serif;
    /* overflow: auto; */
}
body.modal-open {
    /* overflow: hidden; */
    /* position: fixed; */
}
h1 {
    color: white;
}
input[type="text"]
{
     font-family: RobotoItalic;
}

#container {
    display: none;
}

.skjold {
    /* background-color: rgb(105, 147, 183); */
    opacity: 0.7;
    height: 50px;
    z-index: 10000;
    float: right;
    padding: 5px;
}
.skjold:hover {
    /* content: url("/frontend/images/fdf_skjold1.png"); */
    opacity: 1;
    z-index: 10000;
}

.anchor {
    position: relative;
}
.scrollbar-keeper {
    position: absolute;
    height: calc(100% + 1px);
    top: 0px;
    background-color: rgb(255,0,0);
    width: 10px;
    visibility: hidden;
}
@media (max-width: 800px) {
    #header {
        display: none;
    }
}
#top-image img {
    width: 100%;
    /* height: 100px; */
}
.navigation-filler {
    position: relative;
    height: 50px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    /* background-color: rgb(255, 0, 0); */
}
.navigation {
    /* position: fixed; */
    position: absolute;
    height: 50px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    background-color: rgba(69, 104, 137, 0.9);
    z-index: 10000000000000000;
}
.navigation .left {
    float: left;
    height: 50px;
    /* background-color: rgba(23, 200, 183, 0.3); */

}
.navigation .icons {
    float: right;
    height: 50px;
    line-height: 1px;
    /* background-color: rgba(23, 200, 183, 0.3); */
}
.search-span {
    overflow: hidden;
    height: 50px;
    /* background-color: rgb(255, 0, 0); */
}

.balloon-icon {
    position: relative;
    height: 100%;
    padding: 5px;
}
.balloon-icon:hover {
    -webkit-animation: wiggle 0.5s infinite;
}
@-webkit-keyframes wiggle {
    0% {-webkit-transform:rotate(10deg);}
    50% {-webkit-transform:rotate(-10deg);}
    100% {-webkit-transform:rotate(10deg);}
}
.menu-icon {
    height: 100%;
    /* padding: 10px; */
    padding: 14px;
    opacity: 0.7;
}
.menu-icon:hover {
    opacity: 1;
}
.menu-icon.open {
    background-color: rgb(249, 175, 26);
}
.skjold-icon{
    height: 100%;
    padding: 8px;
    /* padding: 10px; */
    opacity: 0.7;
}
.skjold-icon:hover {
    content: url("/images/fdf_skjold_farve_no_padding.png");
    opacity: 1;
}
#search-icon {
    position: absolute;
    z-index: 2;
    padding: 0px;
    border: 0px;
    /* left: -38px; */
    left: -30px;
    /* top: 0px; */
    top: 5px;
    font-size: 22pt;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
#search-icon:hover {
    opacity: 1;
}
#search-done-icon {
    display: none;
    position: absolute;
    z-index: 2;
    padding: 0px;
    border: 0px;
    left: -28px;
    top: 6px;
    font-size: 20pt;
    color: rgb(69, 104, 137);
    opacity: 1;
}
#search-done-icon:hover {
    opacity: 0.7;
}
#search {
    display: block;
    width: 100%;
    position: relative;
    top: 10px;
    height: 30px;
    // display: none; /* start hidden */
    /* padding:0px 10px; */
    /* position: absolute; */
    /* position: relative; */
    /* top: -40%; */
    /* left: 50%; */
    /* transform: translate(0, -50%); */
    /* width: 50%; */
    /* margin-left:auto; */
    /* margin-right:auto; */
    /* top:50%; */
    display: none;
}

#submenu {
    display: none;
    margin: auto;
    width: 40%;
    min-width: 400px;
    height: 500px;
    background-color: rgb(35, 59, 82);
    color: rgb(236, 236, 232);
}
@media (max-width: 400px) {
    #submenu {
        width: auto;
        min-width: 325px; // Totally breaks below
        margin: 5px;
    }
}
#submenu .fdficon{
    color: rgb(236, 236, 232);
}

.entries {
    margin: auto;
    width: 90%;
}
.entries a {
    display: inline-block;
    float: left;
    background-color: rgb(236, 236, 232);
    color: rgb(35, 59, 82);
    padding: 5px;
    width: calc(50%);
    /* margin: 5px; */
    border-style: solid;
    border-width: 5px;
    /* border-left-width: 5px; */
    /* border-bottom-width: 5px; */
    border-color: rgb(35, 59, 82);
    height: calc(50px + 20px);
    /* vertical-align: middle; */
    margin:auto;
}
.entries a:hover {
    background-color: rgb(179, 191, 196)
}
.entries a div {
    width: 100%;
    height: 100%
    background-color: #ff0000;
    margin:auto;
}
.entries .icon {
    color: rgb(35, 59, 82) !important;
}
.entries .fill {
    height: 100%;
}
#filters {
    margin: auto;
    width: 90%;
    /* background-color: #ff0028; */
}
#filters .filter-header {
    margin: 10px;
}
.filter .head {
    width: 100px;
    display: inline-block;
    margin-left: 5px;
    /* background-color: #ff00ff; */
}
.filter .head {
    /* background-color: #ff0028; */
    /* line-height: 20px; */
}
.filter {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    /* border-width: 0 10px 10px 10px; */
    /* border-width: 0 5px 3px 5px; */
    border-color: rgb(236, 236, 232);
    border-radius: 8px;
}
.filter input[type=radio] {
    display: none;
}
.filter input[type=radio] + label {
    color: rgb(236, 236, 232);

    height: 100%;
    /* background-color: #ff0000; */
    border-style: solid;

    /* width: 70px; */
    width: 20%;
    float: right;
    border-width: 0px;
    border-left-width: 2px;
    border-color: rgb(236, 236, 232);
}
.filter input[type=radio]:checked + label {
    background-color: rgb(249, 175, 26);
}

.form-control {
    /* width: auto; */
}

#lege {
    display: none;
    overflow: auto;
}

.modal {
    -webkit-overflow-scrolling: auto !important;

    z-index: 20450;

    top: 50px;
}

#modal-title {
background-color: #233b52;
width: 100%;

}
.video-icon {
    position: absolute;
    right: 0px;
    font-size: 20pt;
    font-weight: 400;
    padding: 10px;
}
.modal-body {
  padding: 0;
	}

.modal-body .leg-description {
    padding: 15px;
}

.modal-body .leg-description h1 {
    color: black;
}

#modal-close-top {
    position: absolute;
    color: rgb(255, 255, 255);
    /* background-color: rgb(100, 150, 100); */
    z-index: 100;
    border: 0px;
    padding: 10px;
    line-height: 1;
    font-size: 22pt;
    text-shadow: 3px 2px 4px rgba(35, 59, 82, 0.7), -1px -1px 2px rgba(35, 59, 82, 0.15);
}
.modal-backdrop {
    z-index: 440;
    opacity: 1.0;
    background-color: white;
}

.modal-content {
  border: 2px solid #456889;!important;
  border-radius: 8px !important;
  }


.navbar-fixed-top {
    background-color: #456889;
    border-color: #456889;
	opacity: 0.9;
}
.navbar-fixed-top.navbar-down {
    margin-top: 50px;
    background-color: #456889;

}
.navbar .pull-right {
    position: relative;
}

.icon-container {
    position: absolute;
}
/* .navbar .glyphicon, .navbar .fdficon { */
.icon-container .icon {
    color:rgba(255,255,255,0.7);
    font-size:25pt;
    padding:0px 5px;
    text-decoration: none;
}

/* #soeg_knap:hover, #filter_knap:hover, #soeg_knap.aktiv, #filter_knap.aktiv{ */
/* .navbar div #leg_back, .icon:hover, .navbar .glyphicon:hover, .fdficon:hover { */
.icon-container .icon:hover {
    color:rgba(255,255,255,1);
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    margin: auto;
    text-align: center;
}
#title {
    color:white !important;
    /* font-size:1.5em; */
    font-size:1.2em;
    font-weight: 300;
    text-decoration: none;
}
.navbar-brand .input-box {
    position: fixed;
    padding: 0;
    left: 0px;
    top: 0px;
    width: 100%;
}
#search-o {
    display: none; /* start hidden */
    /* padding:0px 10px; */
    /* position: absolute; */
    position: relative;
    top: -40%;
    /* left: 50%; */
    /* transform: translate(0, -50%); */
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    /* top:50%; */
}

.filter2 {
    display: inline-block;
    background-color: rgb(105, 147, 183);
    /* border: 5px solid #006410; */
    border-radius: 50px;
    /* width: 5em; */
    /* width: fit-content; */
    width: 40%;
    /* padding-left: auto; */
    /* padding-right: auto; */
    /* padding-left: 40px; */
    display: flex;
    justify-content: space-around;
}
/* .filter2 div {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   width: auto
   } */
.filter2 input[type=radio] {
    width: 2em;
    display: none;
    /* width: 0; */
    margin: 0;
    padding: 0;
    /* font-size: 1em; */
    /* position: relative; */
    /* margin-left: auto; */
    /* margin-right: auto; */

}

.filter2 input[type=radio] + label {
    color:rgba(255,255,255,0.7);
    display: inline-block;
    /* margin-left: -2em; */
    padding: 0;
    margin: 0;
    margin-left: 0;
    line-height: 1.5em;
    /* font-size: 2.4em; */
    font-size: 1.8em;
    position: relative;
    top: 2px;
    /* transform: translate(0, -50%); */
    /* border-left: 2px solid; */
    /* border-rigth: 2px solid; */
    text-align: center;
    text-decoration: bold;
}

.filter2 input[type=radio]:checked + label {
    color:rgba(255,255,255,1);
}


#custom-search-input {
    margin: 10px 0px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radiues: 3px;
    color:#D9230F;
}

button {
    z-index: 3;
}
.swiper-container {
}
.swiper-slide {
    width: auto;
    opacity: 0.7;
}
.swiper-slide-active {
    width: auto;
    opacity: 1;
}
.swiper-pagination {
    bottom: -10px !important;
    cursor: default;
}
.swiper-pagination-bullet {
    /* width: 20px; */
    /* height: 20px; */
    /* width: 10px; */
    /* height: 10px; */
    /* background: rgb(105, 147, 183); */
    background: rgb(94, 138, 180);
    padding: 5.5px;
    opacity: 0.25;
    margin: 8px !important;
}

.swiper-pagination-bullet:hover{
    height: 0px;
    /* background: rgb(35, 59, 82); */
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(250, 135, 0);
}
.swiper-triangle {
    position: relative;
    left: calc(50% - 5px);
    /* top: 10px; */
    width: 0;
    height: 0;
    border-style: solid;
    /* border-width: 0 10px 10px 10px; */
    border-width: 0 5px 3px 5px;
    border-color: rgb(94, 138, 180) transparent;
    opacity: 0.25
}
#isotope {
    /* background: rgb(35, 59, 82); */
}
#slider > div {
    height:130px;
    background-color:white;
}
#category-selector img{
    width: 200px;
}
div:focus {
    outline: none;
}
.slick-dots li button:before {
    content: "\2022";
    font-size: 10pt;
}
.slick-dots li {
    margin: 0px 3px;
}
.div_ratio {
    display: inline-block;
    position: relative;
    width:100%;
}
.dummy33 {
    padding-top: 33.33333%;
}
.dummy25 {
    padding-top: 25%;
}
.leg-boks {
    padding:20px;
    color:white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border:0px solid red;
    background-color: rgb(105, 147, 183);
    background-repeat:no-repeat;
}
.leg-title {
    font-weight:300;
    font-size:25pt;
    //text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    color: white;
}
.outlined {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    text-shadow: 1px 1px 0px  #233b52, 1px -1px 0px  #456889, -1px 1px 0px  #456889, -1px -1px 0px  #456889;
}
.leg-info {
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    background-color:rgba(250, 135, 0, 0.5);
    padding:10px 20px;
}
@media (max-width: 600px) {
    .leg-info {
        padding:5px 15px;
    }
    .leg-boks {
        padding:5px 15px;
    }
}
.leg-description {
	font-family: Roboto;
    font-size: 1em;
    color:black;
}
.leg-info td {
    padding: 0px 5px;


}
a[href^='/kontakt']:after {
    content: "\f35e";
    font-family: fdficons;
    font-weight: 400;
	padding: 0px 5px 0px 0px;
}
.fdficon {
    font-family: fdficons;
    font-weight: 400;
	padding: 0px 5px 0px 0px;
}
.fdf-timeglas:before {
    content: "\f3ba";
}
.fdf-search:before {
    content: "\f41b";
}
.fdf-personer:before {
    content: "\f405";
}
.fdf-alder:before {
    content: "\f397";
}
.slick-dots li.slick-active button:before {
    color: rgb(250, 135, 0);
}
.slick-dots li button:before {
    color: rgb(105, 147, 183);
}
.slick-dots {
    /* bottom: -35px; */
}
.category {
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 158px 120px;
    height:120px;
    min-width:200px;
    text-align:center;
    line-height:145px;
    font-size:16pt;
    font-weight: 300;
    cursor:pointer;
}
.category_navn {
    font-weight:300;
    font-size:20pt;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    color: white;
    cursor:pointer;
}
.dropdown-btns {
    color:rgba(255,255,255,0.7);
    text-decoration:none;
    font-weight:300;
    font-size:12pt;
    background-color:rgb(105, 147, 183);
    border:0px;
    border-radius:0px;
    border-bottom:2px solid transparent;
}
.dropdown-btns:hover {
    color:white;
}
.dropdown-btns.aktiv {
    background-color:rgb(61, 94, 120);
    color:white;
    border-bottom:2px solid orange;
}
#tilbage_knap {
    float:left;
    z-index:200;
    position:relative;
    font-size:25pt;
    text-decoration:none;
    color:white;
}

/* ng-isotope */
.element-item {
    position: relative;
    float: left;
    padding: 5px;
    /*background: #888;*/
    color: #262524;
}

.leg {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: none;

    width:100%;
    height:100%;
    position:relative;
    background-size:100%;
	opacity:1.0;
}
.leg.default {
    background-color:#e4e9eb;
}
.leg .infobar {
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    position:absolute;
    bottom:0px;
    height:50px;
    background-color: rgba(249, 175, 26, 0.90);
    width:100%;
    padding:0px 10px;
    color: white;
    font-weight: 300;
}
.infobar {
padding:0px 10px;
}


.fdficon{
	color: #456889;
}

.infobar td {
    text-align: left;

}
.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;
    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .navn {
    position: absolute;
    left: 10px;
    top: 0px;
    font-weight: normal;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}
/*
   .element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
   .element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
   .element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
   .element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
   .element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
   .element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
   .element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
   .element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
   .element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
   .element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
 */
/* varying sizes */

.element-item {
    width: 300px; /* Fallback solution */
    height: 136.042px; /* Fallback solution */
    width: calc(100.00vw - (100.00vw - 100%));
    height: calc(((100.00vw) / 3.5) + 50px);
}
.element-item .navn {
    font-size:16pt;margin-top:10px;
}

@media (min-width: 768px) {
    .element-item {
        width: 300px; /* Fallback solution */
        height: 136.042px; /* Fallback solution */
        width: calc(50.00vw - (100.00vw - 100%)/2);
        height: calc((50.00vw / 3) + 50px);
    }
    .element-item .navn {
        font-size:16pt;
    }
    .is-varying-sizes .element-item.width2 { width: calc(100.00vw - (100.00vw - 100%) - 1px) }
    .is-varying-sizes .element-item.height2 { height: calc(((50.00vw / 3) + 50px) * 2); }
	.modal-lg {
    width: 80%;
}
}

@media (min-width: 992px) {
    .element-item {
        width: 300px; /* Fallback solution */
        height: 136.042px; /* Fallback solution */
        width: calc(33.333333vw - (100.00vw - 100%)/3);
        height: calc(((33.333333vw) / 3) + 50px);
    }
    .element-item .navn {
        font-size:20pt;
    }
    .is-varying-sizes .element-item.width2 { width: calc((33.33333vw - (100.00vw - 100%)/3)*2) }
    .is-varying-sizes .element-item.height2 { height: calc(((33.33333vw / 3 ) + 50px) * 2); }
    .modal-lg {
    width: 60%;
}
}

@media (min-width: 1200px) {
    .element-item {
        width: 300px; /* Fallback solution */
        height: 136.042px; /* Fallback solution */
        width: calc(25.00vw - (100.00vw - 100%)/4 - 1px);
        height: calc(((25.00vw) / 3) + 50px);
    }
    .element-item .navn {
        font-size:22pt;
    }
    .is-varying-sizes .element-item.width2 { width: calc((25.00vw - (100.00vw - 100%)/4)*2 - 2px) }
    .is-varying-sizes .element-item.height2 { height: calc(((25.00vw / 3 ) + 50px) * 2); }
	   .modal-lg {
    width: 40%;
}
}

figure {
	position: relative;

}

figure img {
	width: 100%!important;
	border-radius: 6px     6px      0           0;
	}

figure figcaption {
    background: rgba(35,59,82,0.8);
    color: #FFF;
    bottom: 0;
    left: 0;
    padding: 0px;
    right: 0;
    font-size: 1em;

}

figure figcaption h3 {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

figure figcaption .infobar {
    background-color: rgba(249, 175, 26, 0.90);
}

.modal-category {
    width: 30%;

}
img.leg-box-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    border-radius: 4px;
    filter: saturate(60%);
    object-fit: cover;
    object-position: 0 0;
}
/* figure .video-wrapper {
   position: relative;
   padding-bottom: 56.25%; // 16:9
   padding-top: 25px;
   height: 0;
   }
   figure .video-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   }
   #ytplayer {
   position: relative;
   padding-bottom: 56.25%; // 16:9
   padding-top: 25px;
   height: 0;
   }
   #ytplayer iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   } */

#ytplayer {
    /* width: 100%; */
    /* padding: auto; */
    /* position: relative; */
    /* margin: auto; */
    align: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#ytplayer-wrapper {
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    align: center;
    text-align: center;
    height: 100%;
    overflow: hidden;
    /* background-color: rgb(69, 104, 137); */
}
/* Submenu icon */
/* .submenu-icon-wrapper {
   display: inline-block;
   padding: 14px;
   height: 100%;
   } */
/* #submenu-icon {
   height: 100%;
   background-color: rgba(0, 255, 0, 0.5);
   width: 70px;
   height: 45px;
   position: relative;
   //margin: 50px auto;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .5s ease-in-out;
   -moz-transition: .5s ease-in-out;
   -o-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
   cursor: pointer;
   } */
/*
   #submenu-icon span {
   display: block;
   position: absolute;
   height: 4px;
   width: 100%;
   background: #d3531a;
   border-radius: 9px;
   opacity: 1;
   left: 0;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -o-transition: .25s ease-in-out;
   transition: .25s ease-in-out;
   } */
/*
   #submenu-icon span:nth-child(1) {
   top: 0px;
   }

   #submenu-icon span:nth-child(2),#submenu-icon span:nth-child(3) {
   top: 10px;
   }

   #submenu-icon span:nth-child(4) {
   top: 20px;
   }

   #submenu-icon.open span:nth-child(1) {
   top: 18px;
   width: 0%;
   left: 50%;
   }

   #submenu-icon.open span:nth-child(2) {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   }

   #submenu-icon.open span:nth-child(3) {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   }

   #submenu-icon.open span:nth-child(4) {
   top: 18px;
   width: 0%;
   left: 50%;
   }



 */
.greeting {
    position: absolute;
    /* position: relative; */
    width: 100%;
    font-size: 30pt;
    z-index: 1600;
    /* background-color: rgba(255, 0, 0, 0.5); */
    color: #f9af1a;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    top: -50px;
    text-align: right;
    /* float: right; */
    /* bottom: 0px; */
    font-family: Lilita;
}
.greeting span{
    width: 10%;
    display: inline-block;
}

.ribbon-wrapper-wrapper {
    width: 200px; height: 300px;
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
    position: absolute;
    top: 170px;
    left: 170px;
    opacity: 1;

}
.ribbon-wrapper {
    position: absolute;
    /* left: -5px; top: -5px; */
    left: 0px; top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 150px; height: 150px;
    /* background-color: rgba(255, 0, 0, 0.5); */
    text-align: right;
}
.ribbon {
    font-size: 20px;
    /* font-weight: bold; */
    color: #FFF;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 40px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 200px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#456889 0%, #233B52 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    /* top: 19px; left: -21px; */
    /* top: 0px; left: 0px; */
    top: 30px; left: -50px;
}
.ribbon::before {
    /* content: "";
       position: absolute; left: 0px; top: 100%;
       z-index: -1;
       border-left: 3px solid #233B52;
       border-right: 3px solid transparent;
       border-bottom: 3px solid transparent;
       border-top: 3px solid #233B52; */
}
.ribbon::after {
    /* content: "";
       position: absolute; right: 0px; top: 100%;
       z-index: -1;
       border-left: 3px solid transparent;
       border-right: 3px solid #233B52;
       border-bottom: 3px solid transparent;
       border-top: 3px solid #233B52; */
}


#progressbar {
    background-color: rgb(225, 83, 16);
    width: 0%;
    height: 5px;
    display: none;
}
.loading-balloon {
    content: url("/images/balloon.png");
    animation: loading-balloon-animation 1.7s infinite ease;
    width: 50%;
    height: 50%;
    margin: auto;
}
@keyframes loading-balloon-animation {
    0%   {transform: scale(0.10, 0.10)}
    20%  {transform: scale(0.40, 0.40)}
    40%  {transform: scale(0.35, 0.35);}
    60%  {transform: scale(0.75, 0.75);}
    80% {transform: scale(0.70, 0.70);}
    100% {transform: scale(1.0, 1.0);}
}

.spinner {
    /* color: #ffffff; */
    color: rgb(69, 104, 137);
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spinner-animation 1.7s infinite ease;
    animation: spinner-animation 1.7s infinite ease;
}
@-webkit-keyframes spinner-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;}
    10%,
    59% {box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;}
    20% {box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;}
    38% {box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;}
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes spinner-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;}
    10%,
    59% {box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;}
    20% {box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;}
    38% {box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;}
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}



.bubble {
    position: relative;
    display:inline-block;
    max-width:250px;
    min-height:1.5em;
    min-width: 40px;
    padding: 20px;
    background: #FFFFFF;
    border: #7F7F7F solid 4px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 20%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.bubble:before {
    content: "";
    position: absolute;
    bottom: -19.5px;
    left: calc(20% - 3px) ;
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
}
